<h1> Add your favorite movie </h1>

<form action="/create-the-movie" method="POST">

  <p> Title </p>
  <input type="text" name="theNewTitle">

  <p> Year</p>
  <input type="text" name="theNewYear">

  <p> Featured </p>
  <select name="theNewFeatured" id="">
    {{#each allCharacters}}
    <option value={{this.id}}>{{this.name}}</option>
    {{/each}}

  </select>

  <button> submit</button>
</form>