<h5>year:
  {{theMovie.year}}
</h5>
<p>

  <a href='/characters/{{theMovie.featured._id}}'>
    Featured:
    {{theMovie.featured.name}}
  </a>
</p>

<a href="/movies"> Follow this link to get to the movies page</a>